* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins";
}
.navbar-left {
  background-color: rgb(66, 66, 180);
  color: white;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
}
.navbar-left span {
  flex: 1 1 1;
  font-size: 1.2rem;
}
.navbar-list {
  flex: 1 1 1;
  font-size: 0.8rem;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.navbar-list-item {
  margin: 0 4px;
}
.navbar-list-item a {
  text-decoration: none;
  color: white;
}

.intro-left {
  background-color: rgb(83, 83, 228);
  color: white;
  padding: 3rem;
  width: 100%;
}
.intro-right {
  display: none;
}
.intro-heading {
  font-size: 2rem;
  margin-bottom: 3vh;
  font-family: "Playfair Display", serif;
}
.intro-sub-heading {
  color: rgb(160, 0, 0);
}
.scroll {
  height: 50px;
  margin-top: 4rem;
}

.featured-project {
  padding: 3rem;
  position: relative;
}
#featured-project-pre {
  color: black;
  font-weight: 700;
  letter-spacing: 1px;
}
.project-heading {
  color: rgb(31, 31, 235);
}
.project-right {
  text-align: center;
}
.project-img {
  object-fit: contain;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 0 1rem grey;
  margin-top: 1rem;
}
#notes-app-img {
  max-height: 400px;
  width: auto;
  object-fit: contain;
}
.featured-project::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #e5d5fa;
  top: 0;
  left: 0;
  z-index: -1;
}
.skills {
  background-color: hotpink;
  width: 100%;
  padding: 1rem 0;
}
.skill-card {
  margin: 1rem 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
}
.skill-img {
  object-fit: fill;
  width: 100%;
  max-height: 200px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.801);
}
.skill-name {
  font-size: 1.8rem;
  margin: 10px 0;
}

.projects {
  padding: 3rem;
}
.project-item {
  margin-bottom: 2rem;
}
.about-me {
  background-color: #445d7b;
  color: white;
  line-height: 1.8;
  font-family: "helvetica neue";
  padding: 3rem 3rem 1rem 3rem;
  display: block;
  text-align: center;
}
.about-me-info {
  padding: 10px;
  text-align: justify;
}

@media screen and (min-width: 600px) {
  .intro-left {
    text-align: center;
  }
}
@media screen and (min-width: 850px) {
  .about-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .background-img-about-me {
    flex: 1;
    height: 300px;
  }
  .about-me-info {
    flex: 1;
  }
}

@media screen and (min-width: 1000px) {
  .navbar,
  .intro {
    display: flex;
  }
  .navbar-left,
  .intro-left {
    width: 70%;
  }
  .navbar-left {
    padding: 1rem 4rem;
  }
  .navbar-left span {
    font-size: 1.5rem;
  }
  .navbar-list-item {
    margin: 0 1rem;
    font-size: 1rem;
  }
  .intro-left {
    height: 95vh;
    padding: 4rem 6rem;
    text-align: left;
  }
  .intro-right {
    display: block;
  }
  .intro-heading {
    font-size: 3rem;
    margin-top: 5rem;
  }
  .intro-sub-heading {
    margin-top: 1rem;
    font-size: 1.2rem;
  }
  .intro-right svg {
    height: 300px;
    width: 300px;
    position: relative;
    top: 12rem;
    left: -9.4rem;
  }
  .featured-project,
  .project-item {
    display: flex;
    justify-content: center;
  }
  .project-right {
    margin: 0 1rem;
  }
  .project-left {
    margin-right: 5rem;
    width: 35%;
    margin-top: 1rem;
    text-align: justify;
  }

  #featured-project-left {
    margin-bottom: 2rem;
    margin-top: 0;
  }
  .project-img {
    width: 400px;
    height: 250px;
    object-fit: fill;
  }
  #featured-project-img {
    width: 500px;
    height: 300px;
    object-fit: fill;
  }
  #notes-app-img {
    width: fit-content;
    object-fit: contain;
    height: 500px;
  }
  #notes-app-right {
    width: 400px;
  }
  .project-heading {
    font-size: 1.5rem;
    margin-top: 10px;
  }
  .skills {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -6rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
    overflow-y: hidden;
  }
  .skill-card {
    width: 300px;
    margin: 1rem 0 0 -10px;
    margin-bottom: -10px;
    padding: 1rem 1rem 2rem 1rem;
  }
  .skill-card:hover {
    transform: scale(1.1);
  }
  .skill-img {
    width: 250px;
    height: 150px;
  }
  .projects {
    padding: 3rem 0;
  }
  .project-item {
    padding: 0 3rem;
  }
  .project-item:hover {
    background-color: rgb(241, 235, 235);
  }
  .project-item h1 {
    margin: 1rem 0;
  }
  .project-item span,
  #featured-project-left span {
    line-height: 1.6em;
  }
}

.circle {
  animation: circleAnim 1s infinite alternate-reverse;
}

@keyframes circleAnim {
  from {
    transform: translate(262px, 798px);
    z-index: 2;
  }
  to {
    transform: translate(262px, 830px);
    z-index: 2;
  }
}
