* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: "Poppins";
}
.navbar-left {
  background-color: rgb(66, 66, 180);
  color: white;
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  max-width: 100%;
  align-items: center;
}
.navbar-left span {
  flex: 1 1 1;
  font-size: 1.2rem;
}
.navbar-list {
  flex: 1 1 1;
  font-size: 0.8rem;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
}
.navbar-list-item {
  margin: 0 4px;
}
.navbar-list-item a {
  text-decoration: none;
  color: white;
}

.intro-left {
  background-color: rgb(83, 83, 228);
  color: white;
  height: 30vh;
  padding: 3rem;
  width: 100%;
}
.intro-right {
  visibility: hidden;
}
.intro-heading {
  font-size: 2rem;
  margin-bottom: 3vh;
  font-family: "Playfair Display", serif;
}
.featured-project {
  padding: 3rem;
}
.project-right {
  text-align: center;
}
.project-img {
  object-fit: contain;
  width: 80%;
  border-radius: 5%;
  box-shadow: 0 0 1rem grey;
  margin-top: 1rem;
}
.skills {
  background-color: hotpink;
  width: 100%;
  padding: 1rem 0;
}
.skill-card {
  margin: 1rem 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 1rem;
}
.skill-img {
  object-fit: contain;
  width: 100%;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.801);
}
.skill-name {
  font-size: 1.8rem;
  margin: 10px 0;
}

.projects {
  padding: 3rem;
}
.project-item {
  margin-bottom: 2rem;
}

@media screen and (min-width: 800px) {
  .navbar,
  .intro {
    display: flex;
  }
  .navbar-left,
  .intro-left {
    width: 70%;
  }
  .navbar-left {
    padding: 1rem 4rem;
  }
  .navbar-left span {
    font-size: 1.5rem;
  }
  .navbar-list-item {
    margin: 0 1rem;
    font-size: 1rem;
  }
  .intro-left {
    height: 95vh;
    padding: 4rem 6rem;
  }
  .intro-right {
    visibility: visible;
  }
  .intro-heading {
    font-size: 3rem;
    margin-top: 5rem;
  }
  .intro-sub-heading {
    margin-top: 1rem;
    font-size: 1rem;
    color: crimson;
  }
  .intro-right svg {
    height: 300px;
    width: 300px;
    position: relative;
    top: 12rem;
    left: -9.4rem;
  }
  .featured-project,
  .project-item {
    display: flex;
    justify-content: center;
  }
  .project-right {
    margin: 0 1rem;
  }
  .project-left {
    margin-top: 3rem;
    margin-right: 5rem;
    width: 35%;
  }
  #featured-project-left {
    margin-top: 1rem;
  }
  .project-img {
    width: 500px;
    height: 300px;
    object-fit: fill;
  }
  #featured-project-img {
    margin-top: -70px;
  }
  .project-heading {
    font-size: 1.5rem;
    color: rgb(31, 31, 235);
  }
  .skills {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: -4rem;
    padding-top: 4rem;
    padding-bottom: 0;
    overflow-y: hidden;
  }
  .skill-card {
    width: 300px;
    margin: 1rem 0 0 -10px;
    margin-bottom: -10px;
    padding: 1rem 1rem 2rem 1rem;
  }
  .skill-card:hover {
    transform: scale(1.1);
  }
  .skill-img {
    width: 250px;
    height: 150px;
  }
  .projects {
    padding: 3rem 0;
  }
  .project-item {
    padding: 0 3rem;
  }
  .project-item:hover {
    background-color: rgb(241, 235, 235);
  }
  .project-item h1 {
    margin: 1rem 0;
  }
  .project-item span {
    line-height: 1.8em;
  }
}
